   {
    margin:  0;
    padding: 0;
 }

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
}

.cartao {
    width: 70px;
    height: 70px;
}

.cataoimagem {
  width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

 main {
    flex: 1;
 }

 .cabecalho-link {
    color: #fff;
 }

 h1 {
 color: #fff;
 font-size: 24px;
 }

 footer {
    background-color: #ff0000;
    padding: 15px 25px;
    color: #fff;
 }

